<nav>
	<h1>Trello</h1>
	<div class="user-container">
		<span id='username'></span>
		<a href='/'><i class="fas fa-home"></i></a>
		<a class='logout' href='/users/logout'><i class="fas fa-sign-out-alt"></i></a>
	</div>
</nav>
